body {
    font-family: monospace;
    margin: 30px;
    background: url("/static/assets/back1.jpg") no-repeat center center fixed; 
    height: 100%;
    overflow: hidden;
    background-size: cover;
}

h1 {
    color: rgb(119, 116, 116);
    font-weight: 200;
}

#sendMsg, #message{
    border: solid 2px rgba(229, 194, 194, 0.5);
    border-radius: 5px;
    color: grey;
    background-color: transparent;
    cursor: pointer;
}

#sendMsg:hover {
    transform: scale(1.04);
    font-weight: 300;  
}

.message-display-area {
    height: 450px;
    width: 55%;
    overflow-y: scroll;
    border: solid 6px rgba(229, 194, 194, 0.5);
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
}

.nickname {
    color: rgb(70, 69, 69);
    font-size: 14px;
}

.date {
    font-size: 10px;
    font-style: italic;
    text-align: right;
}

.message-text {
    color: rgb(126, 75, 110);
    font-size: 14px;
}

@media (max-width: 787px) {
    .message-display-area {
        width: 100%;
    }
}

@media (max-width: 414px) {
    .message-display-area {
        width: 100%;
        height: auto;
    }
}
